<h1>Hogwarts Students</h1>

<p> The following students are enrolled at Hogwarts</p>

<% for student in @students %>
  <p>Student ID: <%= student.id %></p>
  <p>First Name: <%= student.first_name%> </p>
  <p>Last Name: <%= student.last_name%> </p>
  <p>House: <%= student.house%> </p>
  <p>Age: <%= student.age%> </p>
<hr/>
<% end%>

